:root{
    --border-bottom :  solid var(--main-color)
}
.sections__container{
    background: url('../../assets/images/bg.png') no-repeat top right/cover ;

}
.videos{
    padding: 40px  var(--left-right-padding);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sections__container .nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 64px;
}
.sections__container .nav .nav-item .nav-link{
    color: var(--disactive-color);
    font-weight: 500;
    font-size: 1rem;
}
.sections__container .nav .nav-item .active{
    border-bottom:2px var(--border-bottom);
    color: var(--primary-color);
}
.videos .container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 65px;
    margin-top: 68px;
}
.videos .container .left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 48px;
}
.videos .container .master_video{
    width: 833px;
    height: 474px;
}
.videos .container .master_video iframe{
    width: 833px;
    height: 474px;
    border: 1ox solid var(--dark-color);

}
.videos .container .left .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 55px;
}
.videos .container .right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 48px;
}
.videos .container .small_video{
    width: 389px;
    height: 213px;
}
.videos .container .small_video iframe{
    width: 389px;
    height: 213px;
    border: 1ox solid var(--dark-color);
}
.videos .more{
    color: var(--main-color);
    text-align: center;
    margin-top: 64px;
    border-bottom: 1px var(--border-bottom);
}

/* //////////////////////////////// */
.portfolio{
    margin-top: 106px;
}


 .portfolio .card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 407px;
    height: 245px;
    color: var(--primary-color);
 }
 .portfolio .card .card_img{
    width: 407px;
    height: 225px;
 }
 .portfolio .card .card_img img{
    width: 407px;
    height: 225px;
 }
 .portfolio .card .card_body{
    background-color: var(--dark-color);
    width: 407px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
 }
 .portfolio .card .card_body .more{
    color: var(--main-color);
    text-align: center;
    border-bottom: 1px var(--border-bottom);
 }
