:root{
    --border-bottom :  solid var(--main-color)
}
.sections__container{
    background: url('../../assets/images/bg.png') no-repeat top right/cover ;
    background-attachment: fixed;
}
.videos{
    padding: 40px  var(--left-right-padding);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 106px;
}
.videos .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 65px;
    margin-top: 68px;
}
.videos .container .left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 48px;
}
.videos .container .master_video{
    width: 833px;
    height: 474px;
}
.videos .container .master_video iframe{
    width: 833px;
    height: 475px;
    border: 1ox solid var(--dark-color);

}
.videos .container .left .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 55px;
}
.videos .container .right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 48px;
}
.videos .container .small_video{
    width: 389px;
    height: 213px;
}
.videos .container .small_video iframe{
    width: 389px;
    height: 213px;
    border: 1px solid var(--dark-color);
}
.videos .more{
    position: relative;
    font-weight: 400;
    font-size: 1.25rem;
    color: var(--main-color);
    text-align: center;
    line-height: 24px;
    letter-spacing: 0.04em;
    margin-top: 64px;
}
.videos .more::after{
    content: '';
    width: 104px;
    height: 1px ;
    background-color: var(--main-color);
    position: absolute;
    left: 0;
    top: 22px;
}
