.specialized {
    padding: 0 var(--left-right-padding);
    margin-top: 102px;
}
.specialized .container {
    padding: 0 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 68px;
}
.specialized .container .spec-yellow .spec {
    background-color: var(--dark-color);
    width: 382px;
    height: 372px;
    padding: 10px;
    border-radius: 0px 10px 10px 10px;
    position: relative;
}
.specialized .container .spec-yellow .spec h3 {
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 40px;
    color: var(--primary-color);
    margin-left: 30px;
    margin-top: 60px;
}
.specialized .container .spec-yellow .spec p {
    color: var(--disactive-color);
    font-size: 1rem;
    font-weight: 300;
    line-height: 22px;
    padding: 32px;
}
.specialized .spec::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 160px;
    left: -4px;
    top: -4px;
    background-color: var(--main-color);
}
 .specialized .spec::after {
    content: '';
    position: absolute;
    width: 160px;
    height: 8px;
    top: -4px;
    left: -4px;
    background-color: var(--main-color);
}