.achievement {
    padding: 0 var(--left-right-padding);
    margin-top: 105px;
}
.achievement .flex-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 64px ;
    margin-bottom: 64px;
}    
.achievement .flex-item{
        position: relative;
    }
.achievement .flex-box .flex-item::before {
        content: " ";
        border: 1px solid var(--main-color);
        transform: rotate(90deg);
        position: absolute;
        width: 109px;
        height: 0px;
        left: -54px;
        top: 63px;
    }
.achievement .flex-box .flex-item .box {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    /* founder & CEO at focal X agency */
.achievement .flex-box .flex-item .box .tit  {
        margin-left: 24px;
        font-weight: 400;
        font-size: 1.5625rem;
        line-height: 40px;
        color: var(--primary-color);
    }

     /* 2022/09/09 */
.achievement .flex-box .flex-item .box .date {
        /* margin-left: 506px; */
        /* position: absolute;
        right: 0px; */
        font-weight: 300;
        font-size: 1rem;
        line-height: 22px;
        color: var(--main-color);

}
.achievement .flex-box .flex-item .paragraph {
        margin-left: 24px;
        font-weight: 300;
        font-size: 1rem;
        line-height: 22px;
        color: var(--disactive-color);
        margin-top: 18px;
}
.achievement .more{
    position: relative;
    font-weight: 400;
    font-size: 1.25rem;
    color: var(--main-color);
    text-align: center;
    line-height: 24px;
    letter-spacing: 0.04em;
    margin-top: 64px;
}
.achievement .more::after{
    content: '';
    width: 104px;
    height: 1px ;
    background-color: var(--main-color);
    position: absolute;
    left: 0;
    top: 22px;
}
